.filter-container {
  height: rem(80px);
  .input-search[type='text'] {
    width: rem(394.62px);
    padding: 12px 20px;
    margin: 8px 0;
    height: rem(69.67px);
    box-sizing: border-box;
    background-color: #fff;
    border: none;
    border: 1px solid #f0f0f0;
    transition: 0.2s;
    outline: none;
    border-radius: 59px;
    background-image: url('@/assets/‏‏search-icon.png');
    background-position: 280px 16px;
    background-size: 22px;
    background-repeat: no-repeat;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #767676;
    &:focus {
      border: 1px solid #e0e0e0;
      background-color: #ffffff;
    }
    //color for the fonts #767676
    @media screen and (max-width: 600px) {
      width: 186px;
    }
  }
}
